    :root {
    --knob-color : #2196F3;
    --text-color : #212121;
    --whitey-color: #FFFFFF; 
    --mail-color:#757575;
    --background-color: #2F303A;
    }
    h1,
    h2,
    h3,
    h4,
    p {
    margin-top: 0;
    margin-bottom: 0;
    }
    
    ul,ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    }
    .img {
    display: block;
    }
    body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    font-size:14px ;
    } 
    .list {
    list-style: none;
    }
    .link {
    text-decoration: none;
    }
    /* коробчка для усіх  */
    .container {
    width : 1200px;
    margin-left: 15px;
    margin-right:15px;
    /* outline: 2px solid rgb(21, 232, 21); */
    padding-left:15px ;
    padding-right:15px ;
    }
    /* шапка  */
    .logo-up {
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color:var(--knob-color);
    }    
    .logospan-up {
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--text-color)
    }
    .logo {
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color:var(--knob-color);
    }   
    .logospan {
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--whitey-color)
    }
    .heading {
    background-position: center;
    max-width: 1600px;
    }
    .page-container {
    display: flex;
    align-items: center;
    }
    .navigation {
    display: flex;
    align-items: center;
    margin-top: 32px;
    margin-bottom: 32px;
    }
    .menys {
    display: flex;
    flex-wrap: wrap;
    margin-top:50px ;
    }
    .meny {
    display: flex;
    align-items: center;
    margin-left: auto;
    margin-right: 50px;
    }
    .logo-tape {
    margin-right: 93px; 
    }
    .li-meny:not(:last-child) {
    margin-right: 50px;
    }
    .stud {
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height:1.14;
    letter-spacing: 0.02em;
    color: var(--knob-color)
    }
   .meny-text {
    font-weight: 500;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color:var(--text-color); 
    }
    .meny-text:hover,
    .meny-text:focus {
    color: var(--knob-color)
    }
    .email {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--mail-color);
    }
    .phone-number {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--mail-color);
    }
    .phone-number:hover,
    .phone-number:focus {
    color: var(--knob-color)
    }
    /* головний контент */
    .hero {
    background:var(--background-color);
    /* outline: 2px solid rgb(21, 232, 21); */
    text-align: center;
    }
    .main-title {
    padding-top: 200px;
    margin-bottom:30px ;
    width: 696px;
    margin-left: auto;
    margin-right: auto; 
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color:var(--whitey-color);
    }
    .modal-btn {
    margin-bottom: 200px;
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height:1.87;
    letter-spacing: 0.06em;
    color: var(--whitey-color);
    cursor: pointer;
    background:var(--knob-color);
    border-color: transparent;
    }
    .modal-btn:hover,
    .modal-btn:focus {
    background-color:#188CE8;
    }
    .bbtn {
    color: var(--whitey-color);
    background:var(--knob-color);
    border-color: transparent;
    }
    .portfolio-btn {
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height:1.6;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    border-color: transparent;
    }
    .port:hover, 
    .port:focus {
     color:#FFFFFF;
    background-color:var(--knob-color);
    }
    .summary-title {
    display: flex;
    }
    .menys {
    display: flex;
    flex-wrap: wrap;
    gap:30px;
    padding-bottom: 94px;
    }    
    .btn-knob {
    display: flex;
    justify-content: center;
    gap: 8px;
    padding-top: 94px;
    }
    .list-title:not(:last-child) {
    margin-right:30px;
    }
    .subtitle {
    margin-bottom: 10px;
    padding-top: 94px;
    font-size: 14px; 
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--text-color);
    }
    .section-description {
    width:270px ;
    padding-bottom: 94px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--mail-color);
    }
    .work-moment{
    border-bottom: 1px solid;
    }
    .heading {
    border-bottom: 1px solid;
    }
    .team {
    background-color:
    #F5F4FA ;
    }
    .foto-team {
    border-bottom: 1px solid;
    }
    .work-name {
    font-weight: 700;
    font-size: 18px;
    line-height:2;
    letter-spacing: 0.06em;
    color:var(--text-color);
    }
    .story {
    font-weight: 400;
    font-size: 16px;
    line-height:1.87;
    letter-spacing: 0.03em;
    color:var(--mail-color);
    }

     /*наша робота */
    .work {
    text-align: center;
    }
    .foto-list {
    display: flex;
    padding-bottom: 94px;
    }
    .work-review:not(:last-child) {
    margin-right: 30px;
    }
    .work-time {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color:var(--text-color);
    }
    /*команда*/
    .our-team {
    padding-top: 94px;
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color:var(--text-color);
    text-align: center;
    }
    .foto-team {
    margin-bottom: 30px;
    }
    .foto-team:not(:last-child) {
    margin-right: 30px;
    }
    .worker {
    margin-bottom: 30px;
    margin-top: 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
    color:var(--text-color);
    }
    .office-team{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
    color:var(--mail-color);
    }
    /* підвал */
    .address {
    font-style: normal;
    font-weight: 400;
    line-height:1.7;
    letter-spacing: 0.03em;
    color: var(--whitey-color);
    }
    .address-menu {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height:1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    }
    .color-back {
    box-sizing: border-box;
    background:var(--background-color);
    max-width: 1600px;
    padding-bottom: 60px;
    }
    .types {
    padding-top: 60px; 
    margin-bottom: 20px;
    }
    .account {
    gap: 9px;
    }

    