    :root {
        --knob-color : #2196F3;
        --text-color : #212121;
        --whitey-color: #FFFFFF; 
        --mail-color:#757575;
        --background-color: #2F303A;
    }

    body {
        font-family: 'Roboto', sans-serif;
        background-color: #FFFFFF;
      font-size:14px ;
 } 

    .list {
        list-style: none;
    }
    .link {
        text-decoration: none;
    }
    

    
    .logo-up {
        font-family: 'Raleway',sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color:var(--knob-color);
    }   

    .logospan-up {
    font-family: 'Raleway',sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: var(--text-color)
        }
     



        .logo {
        font-family: 'Raleway',sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color:var(--knob-color);
    }   
     .logospan {
     font-family: 'Raleway',sans-serif;
        font-weight: 700;
        font-size: 26px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        color: var(--whitey-color)
        }

    /* /*  шапка  */
    .stud {
        font-style: normal;
font-weight: 500;
font-size: 14px;
line-height:1.14;
letter-spacing: 0.02em;
color:var(--knob-color);
 }
   .meny-text {
        font-weight: 500;
        line-height: 1.33;
        letter-spacing: 0.02em;
        color:var(--text-color); 
    }
    .meny-text:hover,
    .meny-text:focus {
        color: var(--knob-color)
    }
    
    

    .email {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--mail-color);
    }

    .phone-number {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--mail-color);
    }
    .phone-number:hover,
    .phone-number:focus {
        color: var(--knob-color)
    }

    /* головний контент */
    .hero {
        background:var(--background-color);
    }
    .main-title {
        font-weight: 900;
        font-size: 44px;
        line-height: 1.36;
        letter-spacing: 0.06em;
        text-transform: uppercase;
        text-align: center;
        color:var(--whitey-color);
    }

            .modal-btn {
            font-family: 'Roboto',sans-serif;
            font-weight: 700;
            font-size: 16px;
            line-height:1.87;
            letter-spacing: 0.06em;
            color: var(--whitey-color);
            cursor: pointer;
            background:var(--knob-color);
            border-color: transparent;
            }
            .modal-btn:hover,
            .modal-btn:focus {
                background-color:#188CE8;
            }
            
            .bbtn {
                color: var(--whitey-color);
        background:var(--knob-color);
        border-color: transparent;
            }
            
            .portfolio-btn {
            font-family: 'Roboto',sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height:1.6;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    border-color: transparent;
    }
    .port:hover, 
    .port:focus {
     color:#FFFFFF;
    background-color:var(--knob-color);
    }
    
.subtitle {
    font-size: 14px; 
        font-weight: 700;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color:var(--text-color);
        }

    
    
      
        .section-description {
        font-style: normal;
        font-weight: 400;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color:var(--mail-color);
    }

    .work-name {
       font-weight: 700;
    font-size: 18px;
    line-height:2;
    letter-spacing: 0.06em;
    color:var(--text-color);
    }

    .story {
        font-weight: 400;
    font-size: 16px;
    line-height:1.87;
    letter-spacing: 0.03em;
    color:var(--mail-color);
    }

     /*наша робота*/

    .work-time {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color:var(--text-color);
    }

      /*команда*/
    .our-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color:var(--text-color);
    }
    
    .worker {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
    color:var(--text-color);
    }
    .office-team{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
    color:var(--mail-color);
    }

/* підвал */
    .address {
       font-style: normal;
    font-weight: 400;
    line-height:1.7;
    letter-spacing: 0.03em;
    color: var(--whitey-color);
}
.address-menu {
   font-style: normal;
font-weight: 400;
font-size: 14px;
line-height:1.7;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
}
.color-back {
 box-sizing: border-box;
 background:var(--background-color);
    


}
    

    

