    :root {
    --knob-color : #2196F3;
    --text-color : #212121;
    --whitey-color: #FFFFFF; 
    --mail-color:#757575;
    --background-color: #2F303A;
    --fill-color: #188CE8;
    --icon-color: #AFB1B8;
    }
    h1,
    h2,
    h3,
    h4,
    p {
    margin-top: 0;
    margin-bottom: 0;
    }
    
    ul,ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    }
    img {
    display: block;
    }

    button {
        cursor: pointer;
    }
    body {
    font-family: 'Roboto', sans-serif;
    background-color: #FFFFFF;
    font-size:14px ;
    } 
    .list {
    list-style: none;
    }
    .link {
    text-decoration: none;
    }
                            /* коробчка для усіх  */
    .container {
    width : 1200px;
    margin: 0 auto;
    padding-left:15px ;
    padding-right:15px ;
    }
                                    /* шапка  */
    .logo-up {
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color:var(--knob-color);
    }    
    .logospan-up {
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--text-color)
    }
    .logo {
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color:var(--knob-color);
    }   
    .logospan {
    font-family: 'Raleway',sans-serif;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: var(--whitey-color)
    }
    .heading {
    border-bottom: #ECECEC 1px solid;
    background-position: center;
    max-width: 1600px;
    }
    .page-container {
    display: flex;
    align-items: center;
    }
    .navigation {
    display: flex;
    align-items: center;
    }
    .menys {
    display: flex;
    flex-wrap: wrap;
    margin-top:50px ;
    }
    .meny {
    display: flex;
    align-items: center;
    margin-left: auto;
    }
    .meny:not(:last-child) {
        margin-right: 50px;
    } 
    
    .logo-tape {
    margin-right: 93px; 
    }
    .li-meny:not(:last-child) {
    margin-right: 50px;
    }
    .stud {
    padding: 32px 0;
    display: block;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height:1.14;
    letter-spacing: 0.02em;
    color: var(--knob-color)
    }
    .underline {
        position: relative;
    }
    .underline::after {
    position: absolute;
    content:"";
    display: block; 
    background-color: var(--knob-color);
    border-radius: 2px;
    width: 100%;
    height: 4px;
    bottom: -3px;
    }
    .meny-text {
    display: block;
    padding: 32px 0;
    font-weight: 500;
    line-height: 1.33;
    letter-spacing: 0.02em;
    color:var(--text-color); 
    }
    .meny-text:hover,
    .meny-text:focus {
    color: var(--knob-color)
    }
    .email {
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--mail-color);
    }
    .phone-svg {
    fill: currentColor;
    margin-right: 10px;
    }
    .phone-number {
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 32px 0;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color:var(--mail-color);
    }
    .phone-number:hover,
    .phone-number:focus {
    color: var(--knob-color)
    }
                                 /* головний контент */
    .hero {
    padding:200px 0;
    background:var(--background-color);
    text-align: center;
    background-image: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    url(../image/hero/foon.jpg);
    background-size: cover;
    background-color: #C4C4C4; 
    }
    .main-title {
    margin-bottom:30px ;
    width: 696px;
    margin-left: auto;
    margin-right: auto; 
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;
    color:var(--whitey-color);
    }
    .modal-btn {
    padding-top: 10px ;
    padding-bottom: 10px;
    padding-left: 32px;
    padding-right: 32px; 
    border-radius: 4px;
    font-family: 'Roboto',sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height:1.87;
    letter-spacing: 0.06em;
    color: var(--whitey-color);
    cursor: pointer;
    background:var(--knob-color);
    border-color: transparent;
    }
    .modal-btn:hover,
    .modal-btn:focus {
    background-color:#188CE8;
    }
    .bbtn {
    color: var(--whitey-color);
    background:var(--knob-color);
    border-color: transparent;
    }
    .characteristic {
        padding: 94px 0;
    }
    .work-portfolio {
        padding: 94px 0;
    }
    .div-studio {
     padding: 30px 0;   
    }
    .foto-team {
     box-shadow:
    0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius:
    0px 0px 4px 4px;
    background-color: var(--whitey-color);
    }
    .work-moment:hover ,
    .work-moment:focus {
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
    }
    .work-link:hover .overlay,
    .work-link:focus .overlay {
    transform: translate(0,0);
    }
    .div-overlay {
    display: block;
    position: relative;
    overflow: hidden;
    }

    .overlay {
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex; 
    left: 0;
    top: 0;
    transform: translate(0, 100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    background-color:  rgba(33, 150, 243, 0.9);
    width: 100%;
    height: 100%;
    padding-top: 63px;
    padding-left: 24px;
    padding-bottom: 63px;
    padding-right: 24px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.55;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    }

    .div-portfolio {
    background: var(--whitey-color);
    border: 1px solid #EEEEEE;
    padding-top:20px ;
    padding-bottom:20px ;
    padding-left: 24px;
    padding-right: 24px;
    }
    .portfolio-btn {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 22px;
    border-radius: 4px;
    font-family: 'Roboto',sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height:1.6;
    text-align: center;
    letter-spacing: 0.03em;
    cursor: pointer;
    border-color: transparent;
    }
    .port:hover, 
    .port:focus {
     color:var(--whitey-color);
    background-color:var(--knob-color);
    }
    .summary-title {
    justify-content: center;
    gap: 30px;
    display: flex;
    }
    .menys {
    display: flex;
    flex-wrap: wrap;
    gap:30px;
    }    
    .btn-knob {
    display: flex;
    justify-content: center;
    gap: 8px;
    }
    .div-svg {
    align-items: center;
    
    height: 120px;
    display: bloc;
    display: flex;
    justify-content: center;
    
    background-position: center;
    background: #F5F4FA;
    border-radius: 4px;
    }
    .list-index {
    gap: 30px;
    display: block;
    justify-content: center;
    align-items: center;
    }
    .subtitle {
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 14px; 
    font-weight: 700;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--text-color);
    }
    .section-description {
    width:270px ;
    font-style: normal;
    font-weight: 400;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color:var(--mail-color);
    }
    .heading {
    border-bottom:#ECECEC 1px solid;
    }
    .team {
    padding: 94px 0;
    background-color:
    #F5F4FA ;
    }
    .work-name {
    font-weight: 700;
    font-size: 18px;
    line-height:2;
    letter-spacing: 0.06em;
    color:var(--text-color);
    }
    .story {
    font-weight: 400;
    font-size: 16px;
    line-height:1.87;
    letter-spacing: 0.03em;
    color:var(--mail-color);
    }

                                  /*наша робота */
    .social-list-link {
    display: inline-block;
    height: 44px;
    width: 44px;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color:var(--whitey-color);
     } 
    .social-list-icon {
    fill: var(--icon-color);
    }
    .social-list-link:hover,
    .social-list-link:focus {
    color:var(--whitey-color);
    background-color:var(--knob-color);
     } 
    .social-list-link:hover .social-list-icon,
    .social-list-link:focus  .social-list-icon {
    fill:var(--whitey-color); 
    } 
    .social-list {
    display: flex;
    justify-content: center;
    gap: 10px;
     }
    .svg-clains{
    fill:var(--icon-color);
    }
    .work {
    text-align: center;
    padding-bottom: 94px; 
    }
    .foto-list {
        gap: 30px;
    display: flex;
    }
    .foto-label {
    position: absolute;
    height: 70px;
    width: 100%;
    display: block;
    align-items: center;
    justify-content: center;
    background: rgba(47, 48, 58, 0.8);
    bottom: 0;
    }
    
    .prodoct-wrappep {
    position: relative;
    }
    
    .overfoto {
    padding-top: 27px;
    padding-bottom: 27px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    }

    .work-time {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color:var(--text-color);
    }
                                     /*постійні клієнти*/
   .section-emdlem {
    padding: 94px 0;
    }
   .regular-clains {
    margin-bottom: 50px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height:1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color:var(--text-color);
    }
    .company-emdlem {
    padding: 94 0;
    display: flex;
    justify-content: center;
    gap: 30px;
    }
    .list-clains:hover .svg-clains,
    .list-clains:focus .svg-clains {
    fill: var(--fill-color);
    }
    .list-clains:hover,
    .list-clains:focus {
    fill: var(--fill-color);
    border: 1px solid #188CE8;
    }
   .list-clains {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    width: 170px;
    height: 94px;
    }
                                   /*команда*/
    .our-team {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    letter-spacing: 0.03em;
    color:var(--text-color);
    text-align: center;
    }
    .foto-team:not(:last-child) {
    margin-right: 30px;
    }
    .worker {
    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
    color:var(--text-color);
    }
    .office-team {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    text-align: center;
    color:var(--mail-color);
    }
                                      /* підвал */
    .address {
    font-style: normal;
    font-weight: 400;
    line-height:1.7;
    letter-spacing: 0.03em;
    color: var(--whitey-color);
    }
    .address-menu {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height:1.7;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
    }
    .color-back {
    box-sizing: border-box;
     background:var(--background-color); 
   padding-top: 60px;
    padding-bottom: 60px;
    } 
    .types {
        display: block;
    margin-bottom: 20px;
    }
    .account {
    gap: 9px;
    }
    .dark {
    display: flex;
    align-items: baseline;
    }
    .dark-list-item {
    margin-left: 70px;
    }
   .black-list {
    margin-top: 20px;
    gap: 10px;
    display:flex; 
    justify-content: center;
    }
    .social-list-dark {
    display: inline-block;
    height: 44px;
    width: 44px;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color:rgba(255, 255, 255, 0.1);
    }
    
    .social-icon {
    fill: 
    var(--whitey-color);
    }
   .social-list-dark:hover,
   .social-list-dark:focus {
    color:var(--whitey-color);
    background-color:var(--knob-color);
    } 
    .social-list-dark:hover .social-icon,
    .social-list-dark:focus  .social-icon {
    fill:white; 
    } 
    .conected {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    color:var(--whitey-color);
    } 
 
                                             /* modal window */      
   
   .backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100; 
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), 
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
   }
 
   .backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    }
   
   .modal-window {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 528px;
    min-height: 580px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
     0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    }

   .modal-close-btn {
    margin-left: auto;
    right: 8px;
    top: 8px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid  #AFB1B8;
    padding: 0;
    }
    .modal-close-icon {
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    .modal-close-btn:hover  .modal-close-icon ,
    .modal-close-btn:focus  .modal-close-icon {
        fill: var(--knob-color);
    }